BeautifulSoup==3.2.1
Flask==0.8
Flask-Assets==0.6.2
Flask-LastUser==0.3
Flask-Mail==0.6.1
Flask-OAuth==0.11
Flask-OpenID==1.0.1
Flask-SQLAlchemy==0.15
Flask-WTF==0.5.4
Jinja2==2.6
Markdown==2.1.1
SQLAlchemy==0.7.7
WTForms==1.0.1
Werkzeug==0.8.3
argparse==1.2.1
baseframe==0.2.1
blinker==1.2
chardet==1.0.1
coaster==0.2
cssmin==0.1.4
distribute==0.6.26
greatape==0.3.2
httplib2==0.7.4
jsmin==2.0.2
lamson==1.1
lockfile==0.9.1
mock==0.8.0
nose==1.1.2
oauth2==1.5.211
pygooglechart==0.3.0
python-daemon==1.6
python-dateutil==2.1
python-openid==2.2.5
pytz==2012c
simplejson==2.5.2
six==1.1.0
webassets==0.6
wsgiref==0.1.2
