{% extends "kiosks_layout.html" %}
{% from 'baseframe/forms.html' import renderform_inner %}
{% block title %}Checkin — {{ event.title }}{% endblock %}
{% block bodytag %}<body class="activity_checkin">{% endblock %}

{% block basecontent %}
{% if checkin_for %}
  <div id="messaging" class="">
    <div class="image"><img></div>
    <div class="message"></div>
    <div class="purchases">You have purchased: <div class="purchase_list"></div></div>
  </div>
  {% set welcome_msg = "welcomes you to" %}
  {% if not event.event_logo %}
    {% set welcome_msg = welcome_msg + " " + event.name %}
  {% endif %}
  <div id="activity_checkin">
    <div class="top{% if event.event_logo %} has_logo{% endif %}">
      <div class="welcome_logo">
        {% if event.welcome_logo %}
          <img alt="Checkin Sponsor" src="/static/uploads/sponsors/{{ event.welcome_logo }}" align="absmiddle">
        {% else %}
          <img alt="HasGeek" src="/static/images/logo-large.png" align="absmiddle">
        {% endif %}
      </div>
      <div class="welcome_msg">{{ welcome_msg }}</div>
      {% if event.event_logo %}
        <div class="event_logo">
          <img src="/static/uploads/images/{{ event.event_logo }}" alt="{{ event.name }}">
        </div>
      {% endif %}
    </div>
    <div class="bottom template_color_3">
      <div class="checkin">
        <h2 class="activity template_color_1">{{ checkin_for.title }}</h2>
        <img src="/static/images/checkin.png">
        <h1 class="venue template_color_2">{{ checkin_for.venue.title }}</h1>
      </div>
      <div class="message template_color_3">TAP AND HOLD<br />your badge to checkin for the day</div>
    </div>
  </div>
  <form id="activity_checkin_form">
    {{ renderform_inner(checkin_form, 'activity_checkin_form') }}
  </form>
{% else %}
  <div id="activity_checkin">
    <div class="top">
      <div class="welcome">Welcome to</div>
      <div class="event">{{ event.name }}</div>
    </div>
    <div class="bottom">
      There is no activity scheduled today!
    </div>
  </div>
{% endif %}
{% endblock %}

{% block footerscripts %}
{{ super() }}
{% if checkin_for %}
  <script src="/static/js/rfid/activity_checkin.js"></script>
{% endif %}
{% endblock %}

{% block footer_logo %}{% endblock %}