{% extends "kiosks_layout.html" %}
{% block titletags -%}
  <title>{% block title %}Contact Exchange - {{ event.title }} - {{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="Contact Exchange - {{ event.title }} - {{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block basecontent %}

{% endblock %}

{% block footerscripts %}
{{ super() }}
<script type="text/javascript">
rfid.on( 'tag_placed', function(data) {
  if (data['tag_id']) {
    
  }
});

</script>

{% endblock %}

{% block footer_logo %}{% endblock %}