{% extends "kiosks_layout.html" %}
{% block titletags -%}
  <title>{% block title %}Contact Exchange - {{ event.title }} - {{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="Contact Exchange - {{ event.title }} - {{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block basecontent %}
<div id="contact_exchange">
  <div class="top">
    <div class="logo"><img src="/static/images/logo-large.png"></div>
    <h3 class="message">
      Tap two or more badges to exchange contacts. Tap badge again to remove yourself.
    </h3>
  </div>
</div>
{% endblock %}

{% block footerscripts %}
{{ super() }}
<script src="/static/js/rfid/contact_exchange.js"></script>
<script>
contex({eventid: {{ event.id }}});
</script>
{% endblock %}

{% block footer_logo %}{% endblock %}