{% extends "layout.html" %}
{% block titletags -%}
  <title>{% block title %}Kiosks - {{ event.title }} - {{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="Kiosks - {{ event.title }} - {{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block headline %}
<h1>{{ event.title }} - Kiosks</h1>
{% if siteadmin %}<a class="btn" href="{{ url_for('kiosk_new', id=event.id) }}"><span class="icon-plus"></span>Add a kiosk</a>{% endif %}
{% endblock %}
{% block content %}
<div class="boxed_list">
  {% for kiosk in event.kiosks %}
    <div class="item">
      <div class="links">
        {% if siteadmin %}
        {%- if kiosk.participants.__len__() -%}
        <a href="{{ url_for('export_kiosk', event=event.id, kiosk=kiosk.id) }}"><span class="icon-download-alt"></span>Download Subscribers' List</a>
        {% endif %}
        <a href="{{ url_for('event_delete', id=event.id) }}" title="Delete" class="red"><span class="icon-trash"></span>Delete</a>
        {% endif %}
      </div>
      {% if kioskadmin or siteadmin %}
      <a class="link" href="{{ url_for('kiosk', event=event.id, kiosk=kiosk.id) }}" title="{{ kiosk.company }} - {{ kiosk.name }}">
      {% else %}
      <div class="link">
      {% endif %}
        <div class="serial">{{ loop.index }}</div>
        <div class="l1">{{ kiosk.company }}</div>
        <div class="l2">{{ kiosk.name }}</div>
        <div class="l3">Subscribers: {{ kiosk.participants.__len__() }}</div>
      {% if kioskadmin or siteadmin %}
      </a>
      {% else %}
      </div>
      {% endif %}
    </div>
  {%- else -%}
    <p></p>
    <p>There are no kiosks currently.{% if siteadmin %} <a href="{{ url_for('kiosk_new', id=event.id) }}">Add an event</a>{% endif %}</p>
  {% endfor %}
</div>
{% endblock %}
