{% extends "layout.html" %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block header %}
{% endblock %}
{% block content %}
<a class="btn" href="{{ url_for('event_new') }}">Create an event</a>
<div id="tabs">
          <table class="table">
            <thead>
              <th>#</th>
              <th>Title</th>
              <th>Date</th>
              <th>Venue</th>
              <th>Participants</th>
              <th>Sponsor Kiosks</th>
              <th>Participant Kiosk</th>
              <th>Action</th>

              <!-- <th>Delete</th> -->
            </thead>
            <tbody>
              {% for e in events %}
              <tr class="link">
                  <td><a href="{{ url_for('event_signin', year=e.year, eventname=e.name) }}">#{{ e.id }}</a></td>
                  <td><a href="{{ url_for('event_signin', year=e.year, eventname=e.name) }}">{{ e.title }}</a></td>
                  <td><a href="{{ url_for('event_signin', year=e.year, eventname=e.name) }}">{{e.date}}</a></td>
                  <td><a href="{{ url_for('event_signin', year=e.year, eventname=e.name) }}">{{ e.venue }}</a></td>
                  {%- if e.participants.count() -%}
                  <td><a style="display:inline" href="{{ url_for('event_signin', year=e.year, eventname=e.name) }}">{{ e.participants.filter_by(attended=True).count() }}/{{  e.participants.count() }}</a>
                    <a style="display:inline" href="{{ url_for('event_upload',year=e.year, eventname=e.name) }}"><i class="icon-upload-alt"></i></a>
                  </td>
                  <td><a style="display:inline" href="{{ url_for('event_kiosks', year = e.year, eventname=e.name) }}"><i class="icon-edit"></i></a></td>
                  <td><a style="display:inline" href="{{ url_for('connect', year = e.year, eventname=e.name) }}"><i class="icon-user"></i></a></td>
                  {%- else -%}
                  <td><a href="{{ url_for('event_upload',year=e.year, eventname=e.name) }}">Upload CSV</a></td>
                  {% endif %}
                  <td><a style="display:inline" href="{{ url_for('event_edit',id=e.id) }}"><i class="icon-edit"></i></a>
                  <a style="display:inline" href="{{ url_for('event_delete', id=e.id) }}"><i class="icon-trash"></i></a></td>
                </tr>
              {%- else -%}
                <tr>
                  <td><em>(No events found)</em></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
