{% extends "layout.html" %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block header %}
{% endblock %}
{% block content %}
  {% if siteadmin %}<a class="btn" href="{{ url_for('event_new') }}"><span class="icon-plus"></span>Add an event</a>{% endif %}
  {# Create a macro for boxed_list items #}
  <div class="boxed_list">
    {% for event in events %}
      <div class="item">
        <div class="links">
          {% if siteadmin %}<a href="{{ url_for('event_edit', id=event.id) }}" title="Edit"><span class="icon-edit"></span>Edit</a>{% endif %}
          {% if kioskadmin or siteadmin %}<a href="{{ url_for('event_kiosks', event=event.id) }}" title="Sponsor Kiosks"><span class="icon-user"></span>Sponsor Kiosks</a>{% endif %}
          {% if kioskadmin or siteadmin %}<a href="{{ url_for('contact_exchange', event=event.id) }}" title="Contact Exchange"><span class="icon-user"></span>Contact Exchange</a>{% endif %}
          {% if siteadmin %}<a href="{{ url_for('event_delete', id=event.id) }}" title="Delete" class="red"><span class="icon-trash"></span>Delete</a>{% endif %}
        </div>
        {% if kioskadmin or siteadmin %}
        <a class="link" href="{{ url_for('event', event=event.id) }}" title="{{ event.title }}">
        {% else %}
        <div class="link">
        {% endif %}
          <div class="serial">{{ loop.index }}</div>
          <div class="l1">{{ event.title }}</div>
          <div class="l2">{% if event.date %}{{ event.date }}{% else %}{{ event.from_date }} - {{ event.to_date }}{% endif %}</div>
          <div class="l3">{{ event.venue }}</div>
        {% if kioskadmin or siteadmin %}
        </a>
        {% else %}
        </div>
        {% endif %}
      </div>
    {%- else -%}
      <p></p>
      <p>There are no events currently.{% if siteadmin %} <a href="{{ url_for('event_new') }}">Add an event</a>{% endif %}</p>
    {% endfor %}
  </div>
{% endblock %}
