{% extends "kiosks_layout.html" %}
{% block titletags -%}
  <title>{% block title %}{{ kiosk.name }} Kiosk - {{ event.title }} - {{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ kiosk.name }} Kiosk - {{ event.title }} - {{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block bodytag %}<body class="contact_point">{% endblock %}

{% block basecontent %}

<div id="info" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="info-label" aria-hidden="true">
  <div class="modal-header">
    <h3 id="info-label">Confirmation</h3>
  </div>
  <div class="modal-body">
    <div>
      <h2>Hi <strong><span class="name"></span></strong>!</h2>
      <h3>Your contact details will be shared with {{ kiosk.company }}.</h3>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">I'm not <span class="name"></span></button>
    <form id="kiosk" action="{{ url_for('share', kiosk=kiosk.id, event=event.id) }}" method="POST">
      <input id="nfc_id" class="hidden" type="hidden" name="id" value="" />
      <input id="share" class="btn btn-primary hidden" type="submit" value="Share" />
      <input type="submit" class="btn btn-primary" value="Share">
    </form>
  </div>
</div>
<div id="contact_point">
  <div id="company">
    <div class="logo">
      <img src="/static/uploads/sponsors/{{ kiosk.company_logo }}" alt="{{ kiosk.company }} Logo">
    </div>
    <div class="info">
      <h1 class="name">{{ kiosk.company }}</h1>
      <h3 class="tag">{{ kiosk.company_tag }}</h3>
    </div>
  </div>
  <div id="error"> </div>
  <h2 id="company_tap_msg">
    Tap your badge to {% if kiosk.tap_msg %} {{ kiosk.tap_msg }} {% else %} share your details {% endif %}
  </h2>
  <hr>
  <div id="sponsor_privacy">
    <h3>Privacy Policy</h3>
    <p>Privacy Policy Text</p>
  </div>
</div>

{% endblock %}
{% block footerscripts %}
{{ super() }}
<script type="text/javascript">
rfid.on( 'tag_placed', function(data) {
  if (data['tag_id']) {
    url = "/event/{{ event.id }}/participant/"+data['tag_id'];
    $('input#nfc_id').attr("value",data['tag_id'] );
    // $('input#share').removeClass("hidden")

    $.getJSON(url, function(data){
      if(data["error"]){
        toastr.error(
          "This badge is not connected to any user. If you registered and this badge doesn't work, please contact one of the organisers.",
          "The badge you tapped is not valid."
          );
      }
      else{
        $('div#info').removeClass("hidden");
        $('div#name').html('<h1>'+data['name']+'</h1>');
        $('div#email').html('<h2>'+data['email']+'</h2>');
        $('#info .name').html(data.name);
        $('#info').modal();
      };
    });
  }
});

</script>

{% endblock %}