{% extends "baseframe.html.jinja2" %}
{% from "baseframe/components.html.jinja2" import flash_messages with context %}
{% from "macros.html.jinja2" import breadcrumbs %}
{% block messages %}{# Don't use baseframe's messages #}{% endblock %}
{%- block titletags %}
	<title>{% block title %}{{ title }}{% endblock %}{% if config['SITE_TITLE'] %} {% if self.title() %}— {% endif %}{{ config['SITE_TITLE'] }}{% endif %}</title>
	<meta name="DC.title" content="{{ self.title()|e }}{% if config['SITE_TITLE'] %} {% if self.title() %}— {% endif %}{{ config['SITE_TITLE'] }}{% endif %}" />
	<meta property="og:title" content="{{ self.title()|e }}{% if config['SITE_TITLE'] %} {% if self.title() %}— {% endif %}{{ config['SITE_TITLE'] }}{% endif %}" />
{%- endblock %}
{% block header %}{{ breadcrumbs(nav) }}{% endblock %}
{% block basecontent %}
      {{ flash_messages() }}
      {% block headline %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}