{% macro renderfield(field, css_class="", widget_css_class=None, tabIndex='', autofocus=False, nolabeldesc=False, sidetext=None) -%}
{% if field.errors -%}
  {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
{% endif %}
<div class="field{% if css_class %} {{ css_class}}{% endif %}" id="field-{{ field.id }}">
  {% if field.widget.input_type == 'checkbox' %}
    <div class="label">&nbsp;</div><div class="control checkbox">{% if widget_css_class %}{{ field(class=widget_css_class, tabindex=tabIndex) }}{% else %}{{ field(tabindex=tabIndex) }}{% endif %} {{ field.label }}{% if field.description %}<br/>
      <span class="description">{{ field.description }}</span>{% endif %}</div>
  {% else %}
    {% if not nolabeldesc %}
    <div class="control-group">{{ field.label }}{% if field.flags.required == true %} <span class="required">*</span>{% endif %}</div>{% endif %}
    <div class="control">
      {% if autofocus %}
        {% if widget_css_class %}
          {{ field(autofocus="autofocus", class=widget_css_class, tabindex=tabIndex) }}
        {% else %}
          {{ field(autofocus="autofocus", tabindex=tabIndex) }}
        {% endif %}
      {% else %}
        {% if widget_css_class %}
          {{ field(class=widget_css_class, tabindex=tabIndex) }}
        {% elif (field.widget.input_type or "") == "" %}
          {{ field }}
        {% else %}
          {{ field(tabindex=tabIndex) }}
        {% endif %}
      {% endif %}
      {% if not nolabeldesc %}
        {% if sidetext %} <span class="sidetext">{{ sidetext|safe }}</span>{% endif %}
        {% if field.description %}<br/><span class="description">{{ field.description }}</span>{% endif %}
      {% endif %}</div>
  {% endif %}
</div>
{% endmacro %}

{% macro rendersubmit(buttons=[], css_class="", tabIndex='') %}
<div id="submit" class="field{% if css_class %} {{ css_class}}{% endif %}">
  <div class="control-group">&nbsp;</div>
  <div class="control submit" style="padding-bottom:50px">
    {% for name, value, widget_class in buttons %}
      <input id= "submit" class="btn" type="submit"
        {%- if name %} name="{{ name|e }}"{% else %} {% endif -%}
        value="{{ value|e }}"
        {% if widget_class %} class="{{ widget_class|e }}" {% else %} {% endif -%}
        {%- if tabIndex %} tabindex="{{ tabIndex }}" {% endif -%}
        />
    {% endfor %}
    <span class="loading hidden">&nbsp;</span>
  </div>
</div>
{% endmacro %}

{% macro renderform(form, formid, submit, message='') %}
<form id="{{ formid }}" method="POST" accept-charset="UTF-8">
  {% if message %}<p>{{ message }}</p>{% endif %}
  <div style="display:none;"><input type="hidden" name="form.id" value="{{ formid }}" /></div>
  {{ form.hidden_tag() }}
  {% if form.csrf_token.errors %}
    {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {% for field in form %}
    {% if field.widget.input_type and field.widget.input_type == 'hidden' -%}
    {# Don't show hidden #}
    {%- else -%}
    {{ renderfield(field, "small") }}
    {%- endif %}
  {% endfor %}
  {{ rendersubmit([(None, submit or "Submit", None)], "small") }}
</form>
{% endmacro %}

{% macro ajaxform(formid, request, force=False) -%}
{% if force or request.is_xhr -%}
<script type="text/javascript">
  $(function() {
    var redir = $('.assign').attr('rel');
    $("#{{ formid }}").ajaxForm({
      target: '#{{ formid }}',
      replaceTarget: true, 
      success: function(responseText, statusText, xhr, $form) {
          console.log(responseText);
          if(responseText=="success") {
              window.location = redir ;
          }
          else{
            $('div#submit').addClass("hidden");
            $('input#nfc_id').attr("value","");
          };
      }
    });
  });
</script>
{%- endif %}
{%- endmacro %}

{% macro newparticipant(form, formid, submit, message='' ) %}
<form id="{{ formid }}" method="POST" accept-charset="UTF-8">
  {% if message %}<p>{{ message }}</p>{% endif %}
  <div style="display:none;"><input type="hidden" name="form.id" value="{{ formid }}" /></div>
  {{ form.hidden_tag() }}
  {% if form.csrf_token.errors %}
    {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
  {% endif %}
  {% for field in form %}
    {% if field.widget.input_type and field.widget.input_type == 'hidden' -%}
    {# Don't show hidden #}
    {%- else -%}
    {{ renderfield(field, "small") }}
    {%- endif %}
  {% endfor %}
  <div class="field">
    <a class="btn rfid_card unassigned"
      href="javascript:void(0);">
      <span class="assign" rel="">Assign Card And Submit</span>
      <span class="tap_card">Tap the card (<span class="timeout"></span>)</span>
    </a>
  </div>
  <div id="nfc" style="padding-bottom:40px" >
  <!-- <input id="signin" class="btn" type="button" value="Get ID" /> </div> -->
  {{ rendersubmit([(None, submit or "Submit", None)], "small hidden") }}
  </form>
{% endmacro %}

<!-- {% macro render_schedule(schedule_data) %}
      <div id="schedule-table">
        {% for item in schedule_data['sessions'] %}
        <div class="schedule-slot">
          <div class="icon">
            <img src="{{ url_for('static', filename='img/schedule/%s.png' % (item.type)) }}" width="24" height="24" alt="Icon"/>
          </div>
          <div class="title">
            {{ item.title }}
          </div>
          <div class="time">{{ item.time }}</div>
        </div>
        {% endfor %}
      </div>
{% endmacro %} -->
