{% extends "layout.html" %}
{% from 'macros.html' import ajaxform%}
{% block titletags -%}
  <title>{% block title %}Add Participant - {{ event.title }} - {{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="Add Participant - {{ event.title }} - {{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block content %}
        {% include 'participantform.html' %}
{% endblock %}
{% block footerscripts %}
<script src="http://127.0.0.1:8008/assets/js/lib.js"></script>
<script src="/static/js/rfid/init.js"></script>
<script type="text/javascript">
    var timer = null, interval = null;
    var stop_listening = function() {
        $('a.rfid_card').removeClass('disabled').removeClass('tap');
        window.clearInterval(interval);
        interval = null;
    };
    $(function(){
        $('.assign').attr('rel', '/{{year }}/{{ event.name }}/signin');
        $('a.rfid_card').live('click', function(event){
            var current = $(this);
            if( current.hasClass('disabled') ) return true;
            var assigned = current.hasClass('assigned');
            var listening = current.hasClass('tap');

            if( listening ) {
                window.clearTimeout(timer);
                timer = null;
                stop_listening();
            }
            else if( !assigned ) {
                $('a.rfid_card').addClass('disabled');
                $(this).find('.timeout').text(5);
                $(this).removeClass('disabled').addClass('tap');
                timer = window.setTimeout("stop_listening();", 5000);
                interval = window.setInterval(function(){var tout = $('a.rfid_card .timeout'); tout.html(Number(tout.text()) - 1);}, 1000);
            }
        });

        var toggle = function(participant, card) {
            var assigned = participant.hasClass('assigned');
            var ajax = {
                "url": participant.find('span.assign').attr('rel'),
                "type": "POST"
            };
            if( !assigned ){
                if( typeof card == 'undefined' ) return false;
                ajax.data = {nfc_id: card};
                console.log(ajax);
                ajax.success = function( response ) {
                    console.log(response);
                    if( response == "success") {
                      $('a.rfid_card[rel=' + id + ']').removeClass('unassigned').addClass('assigned');
                      stop_listening();
                    }
                };
                $.ajax(ajax);
            }
        };

        rfid.tag_placed = function(data) {
            var current = $('a.rfid_card.tap.unassigned');
            if( current.length !== 1 ) return;
            $('input#nfc_id').attr("value", data.tag_id);
            $("#participantform").submit();
        };
    });
</script>
<!-- Ajax form -->
{% from "macros.html" import ajaxform -%}
{{ ajaxform('participantform', request, True) }}


{% endblock %}