{% extends "layout.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderform_inner, rendersubmit %}
{% block title %}New Participant — {{ event.title }}{% endblock %}
{% block content %}
<form id="new_participant" method="POST" action="{{ url_for("venue_signup", id=event.id) }}" accept-charset="UTF-8" class="form-horizontal">
    {{ renderform_inner(form, 'new_participant') }}
    <div class="field pull-left" style="margin: 20px 5px;">
        <a class="btn btn-success rfid_card unassigned"
        href="javascript:void(0);">
            <span class="assign" rel="">Assign Card And Submit</span>
            <span class="tap_card">Tap the card (<span class="timeout"></span>)</span>
        </a>
    </div>
    {{ rendersubmit([(None, submit or _("Submit without assigning a card"), 'btn-primary')], cancel_url=cancel_url) }}
</form>
{% endblock %}
{% block footerscripts %}
<script src="http://127.0.0.1:8008/assets/js/lib.js"></script>
<script src="/static/js/rfid/init.js"></script>
<script type="text/javascript">
    var timer = null, interval = null;
    var stop_listening = function() {
        $('a.rfid_card').removeClass('disabled').removeClass('tap');
        window.clearInterval(interval);
        interval = null;
    };
    $(function(){
        $('a.rfid_card').live('click', function(event){
            var current = $(this);
            if( current.hasClass('disabled') ) return true;
            var assigned = current.hasClass('assigned');
            var listening = current.hasClass('tap');

            if( listening ) {
                window.clearTimeout(timer);
                timer = null;
                stop_listening();
            }
            else if( !assigned ) {
                $('a.rfid_card').addClass('disabled');
                $(this).find('.timeout').text(5);
                $(this).removeClass('disabled').addClass('tap');
                timer = window.setTimeout("stop_listening();", 5000);
                interval = window.setInterval(function(){var tout = $('a.rfid_card .timeout'); tout.html(Number(tout.text()) - 1);}, 1000);
            }
        });

        rfid.on('tag_placed', function(data) {
            var current = $('a.rfid_card.tap.unassigned');
            if( current.length !== 1 ) return;
            $('input#nfc_id').attr("value", data.tag_id);
            $("#new_participant").submit();
        });
    });
</script>
{% endblock %}