{% extends "layout.html" %}
{% block networkbar %}{% endblock %}
{% block baseheadline %}Peopleflow -  HasGeek{% endblock %}
{% block titletags -%}
  <title>{% block title %}Venue Signup - {{ event.title }} - {{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="Venue Signup - {{ event.title }} - {{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block headline %}
<h1>{{ event.title }}- Venue Signup. </h1>
{% endblock %}
{% block content %}
<a id="rfid_status" href="javascript:void(0)">&bull;</a>
<div class="row">
    <form class="well form-search form-horizontal">
    <input autofocus class="input-medium search-query" id="search" type="text" name="key" value=""/>
    <a href="{{ url_for('venue_signup', id=event.id) }}" class="pull-right btn btn-primary">New Participant</a>
    <strong id="count"></strong>
    </form>
</div>

<div id="tabs">
          <table class="table table-striped">
            <thead>
              <th>#</th>
              <th>Ticket #</th>
              <th>Date</th>
              <th>Name</th>
              <th>Email</th>
              <th>Company</th>
              <th>Tshirt Size</th>
              <th>Action</th>
              <th>Print </th>
            </thead>
            <tbody>
              {% for i, p in enumerate(participants) %}
                <tr class="participant hidden" id="participant_{{ p.id }}">
                  <td>{{ i+1 }}</td>
                  <td>{{ p.ticket_number }}</td>
                  <td>{{ utc.localize(p.regdate).astimezone(tz).strftime('%Y-%m-%d %H:%M')|e }}</td>
                  <td><strong>{{ p.name|e }}</strong></td>
                  <td>{{ hideemail.sub('...@', p.email)|e }}</td>
                  <td>{{ p.company|e }}</td>
                  <td>{{ p.tshirt_size }}</td>
                  <td>
                    <a class="btn rfid_card {%- if p.attended %} assigned {%- else %} unassigned {%- endif %}"
                      rel="{{ p.id }}"
                      href="javascript:void(0);">
                      <span class="assign" rel="{{ url_for('event_signin', eventname=event.name, year=event.year) }}">Assign Card</span>
                      <span class="unassign" rel="{{ url_for('event_signout', year=event.year, eventname=event.name, pid=p.id) }}">Unassign Card</span>
                      <span class="tap_card">Tap the card (<span class="timeout"></span>)</span>
                    </a>
                  </td>
                  <td>
                    <a class="btn print_card" data-url="{{ url_for('print_card') }}" data-method="POST" data-name='{{ p.name|e }}' data-twitter='{{ p.twitter }}'>Print</a>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td><em>(No participants found)</em></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
{% block footerscripts %}
  <script src="http://127.0.0.1:8008/assets/js/lib.js"></script>
  <script type="text/javascript">
    var timer = null, interval = null;
    var stop_listening = function() {
      $('a.rfid_card').removeClass('disabled').removeClass('tap');
      window.clearInterval(interval);
      interval = null;
    };
    $(function(){
      $('a.print_card').on('click', function(event) {
        $.ajax({
          url: $(this).attr('data-url'),
          data: {'name': $(this).attr('data-name'),
                 'twitter': $(this).attr('data-twitter')
               },
          type: $(this).attr('data-method'),
          success: function(data) {
            console.log(data.msg);
          },
          failure: function(data){
            console.log(data.msg);
          }
        });
      });
      $('a.rfid_card').live('click', function(event){
        var current = $(this);
        if( current.hasClass('disabled') ) return true;
        var assigned = current.hasClass('assigned');
        var listening = current.hasClass('tap');
        var id = current.attr('rel');

        if( listening ) {
          window.clearTimeout(timer);
          timer = null;
          stop_listening();
        }
        else if( !assigned ) {
          $('a.rfid_card').addClass('disabled');
          $(this).find('.timeout').text(5);
          $(this).removeClass('disabled').addClass('tap');
          timer = window.setTimeout("stop_listening();", 5000);
          interval = window.setInterval(function(){var tout = $('a.rfid_card[rel=' + id + '] .timeout'); tout.html(Number(tout.text()) - 1);}, 1000);
        }
      });

      $('a.rfid_card').live('dblclick', function(event){
        var current = $(this);
        if( current.hasClass('disabled') ) return true;
        var assigned = current.hasClass('assigned');
        var listening = current.hasClass('tap');

        if( !listening && assigned ) {
          toggle($(this));
        }
      });

      var toggle = function(participant, card) {
        var assigned = participant.hasClass('assigned');
        var id = participant.attr('rel');
        var ajax = {
          "url": participant.find('span:visible').attr('rel'),
          "type": "POST"
        };

        if( !assigned ) {
          if( typeof card == 'undefined' ) return false;
          ajax.data = {nfc_id: card, id: id};
          ajax.success = function( response ) {
            if( response == "success") {
              $('a.rfid_card[rel=' + id + ']').removeClass('unassigned').addClass('assigned');
              stop_listening();
            }
          };
          $.ajax(ajax);
        }
        else {
          /*Wanted to use AJAX, but the endpoint seems to be checking the CSRF token.*/
          window.location = ajax.url;
        }
        //$.ajax(ajax);
      };

      var rfid = {
        'init': function(data) {
          return;
        },
        'tag_placed': function(data) {
          this.init(data);
          $('#rfid_status').addClass('tag_placed');
          var current = $('a.rfid_card.tap.unassigned');
          if( current.length !== 1 ) return;
          toggle(current, data.tag_id);
        },
        'tag_removed': function(data) {
          this.init(data);
          $('#rfid_status').removeClass('tag_placed');
        }
      };

      $(window).on('rfid:action', function(e, data) {
        if( typeof rfid[data.action] == 'function' ) rfid[data.action](data);
      });

      $(window).on('rfid:server_inactive', function(e, data) {
        $('#rfid_status').removeClass('server_active');
      });
      $(window).on('rfid:server_active', function(e, data) {
        $('#rfid_status').addClass('server_active');
      });

    });

    var list = [];
    {% for p in participants %}
    list.push("{{ p.name }}");
    {%- endfor %}

    jQuery.expr[':'].Contains = function(a, i, m) {
      return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
    };


    $('input#search').autocomplete({
      search: function(event, ui) {
        var query=this.value;
        $('tr').addClass("hidden");
        $('tr:Contains("'+query+'")').removeClass("hidden");
       },
         select: function(event, ui) {
        var query=this.value;
        $('tr').addClass("hidden");
        $('tr:contains("'+query+'")').removeClass("hidden");
       }
    });

    (function poll(){
       setTimeout(function(){
          $.getJSON("/event/{{ event.id }}/count", function(data){
            if(data['signed']){
              $('#count').html(data['signed']+'/'+data['total']);
                }
            poll();
              }
            );
      }, 5000);
    })();
  </script>
{% endblock %}

