a.rfid_card span {
  display: none;
}

a.rfid_card.tap .timeout, a.rfid_card.confirm .timeout, a.rfid_card.tap .tap_card, a.rfid_card.assigned .unassign, a.rfid_card.confirm .unassign_confirm, a.rfid_card.unassigned .assign {
  display: inline;
}

a.rfid_card.tap .unassign, a.rfid_card.confirm .unassign, a.rfid_card.tap .assign {
  display: none;
}

#rfid_status {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 2222;
  font-size: 3em;
  color: #A00;
  text-shadow: 0 0 10px #444;
  opacity: 0.75;
}

#rfid_status:hover {
  opacity: 1;
  text-decoration: none;
}

#rfid_status.server_active {
  color: #F0EC00;
}

#rfid_status.tag_placed {
  color: #0A0;
}

.boxed_list .item {
  width: 48%;
  height: 150px;
  margin: 0.75%;
  display: inline-block;
  position: relative;
  opacity: 0.9;
  box-sizing: border-box;
}

.boxed_list .item .link {
  background: #EAEAEA;
  border: 1px solid #AAA;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #999;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.boxed_list .item:hover {
  opacity: 1;
}

.boxed_list .item .link > * {
  position: relative;
  z-index: 5005;
  line-height: 1.1em;
}

.boxed_list .item .link .serial {
  position: absolute;
  bottom: -10px;
  right: -15px;
  font-style: oblique;
  font-size: 210px;
  color: #CCC;
  line-height: 180px;
  z-index: 5001;
  font-weight: bolder;
}

.boxed_list .item .link .l1 {
  font-size: 40px;
  color: #666;
  font-weight: bold;
}

.boxed_list .item .link .l2 {
  font-size: 25px;
}

.boxed_list .item .link .l3 {
  font-size: 20px;
}

.boxed_list .item .link .l4 {
  font-size: 10px;
}

.boxed_list .item .links {
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 5010;
}

.boxed_list .item .links a {
  color: #00C000;
  text-decoration: none;
  font-weight: bold;
  margin-right: 3px;
}

.boxed_list .item .links a.red {
  color: #C00000;
}

.boxed_list .item .links a:hover {
  color: #0A0;
}

.boxed_list .item .links a.red:hover {
  color: #A00;
}

/*Picked up from bootstrap.css components*/
.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  text-shadow: 0 1px 0 #ffffff;
}

.breadcrumb > li > .divider {
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb > .active {
  color: #999999;
}

.modal-footer .btn-ok {
  min-width: 185px;
}
