#print-signature {
  border-top: 1px solid #ddd;
  margin-top: 72pt;
  padding-top: 0.5em;
  text-align: right;
}

@media print {
  /*
  .container {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
  }
  [class*="span"] {
      float: left;
      margin-left: 20px;
  } */
}

a.rfid_card span {display: none;}
a.rfid_card.tap .timeout, a.rfid_card.tap .tap_card, a.rfid_card.assigned .unassign, a.rfid_card.unassigned .assign {display: inline;}
a.rfid_card.tap .unassign, a.rfid_card.tap .assign {display: none;}

#rfid_status {position: absolute;bottom: 15px; left: 15px;z-index: 2222;font-size: 3em;color: #A00;text-shadow: 0 0 10px #444;opacity: 0.75}
#rfid_status:hover {opacity: 1; text-decoration: none}
#rfid_status.active {color: #0A0;}