.container {width: auto;}
#footerlogo {position: absolute;top: 10px; bottom: 10px; right: 5px;width: 300px;text-align: right;}
#footerlogo img {max-height: 100%;}
#root {min-height: 0;}
footer {position: absolute;bottom:0px;width: 100%;}

/*toastr customisations*/
/*.toast-title{font-size: 5.0em;text-transform: uppercase;line-height: 1.5em;}
.toast-message{font-size: 3.0em;line-height: 1.5em;}
#toast-container > div {background-position: 15px 4.25em;opacity: 0.9}*/

/*Sponsor Kiosk Styles*/
#company_logo, #company_info, #bottom {position: absolute;top: 1%;bottom: 51%;}
#company_logo, #company_tap_msg {text-align: center;}
#company_logo { left: 1%; right: 61%;padding: 1%;}
#company_logo img {max-width: 98%; max-height: 98%;}
#company_info {left: 41%; right: 1%;}
#company_info .name {font-size: 50px; line-height: 60px;}
#company_info .tag {font-size: 25px; line-height: 30px;}
#bottom {left: 1%;top: 51%;bottom: 55px;right: 1%;}
#company_tap_msg {font-size: 35px; line-height: 40px;}
#sponsor_privacy {margin: 0px 10%;}
#sponsor_privacy h3 {color:#000; }

/*Sponsor Kiosk when company name is not specified*/
#company_logo.nocompany, #company_info.nocompany{left: 1%; right: 1%;}
#company_logo.nocompany.comptag{bottom: 61%;}
#company_info.nocompany.comptag{top: 41%;}
#company_info.nocompany.comptag .tag {text-align: center;}
#company_info.nocompany.comptag .name, #company_info.nocompany.nocomptag {display: none;}

/*Contact Exchange Kiosk Styles*/
#contact_exchange {position: absolute;width: 100%;top: 0px;bottom: 60px;}
#contact_exchange .top {position: absolute; top: 0%; left: 1%;right: 1%; bottom: 0%}
#contact_exchange .logo, #contact_exchange .message { position: absolute; top: 1%; bottom: 1%;}
#contact_exchange .logo {left: 1%; right: 61%;text-align: center;}
#contact_exchange .logo img {max-width: 98%;max-height: 98%;}
#contact_exchange .message {left: 41%; right: 1%; top: 10%;font-size: 4.0em;line-height: 1.25em}

/*Contact Exchange Kiosk: User cards styling starts*/
#contact_exchange .contex_users {position: absolute; top:61%; bottom: 0%;left: 5%;right: 5%;}
#contact_exchange.users .top {bottom: 41%;}
#contact_exchange.users .user {
    box-sizing: border-box;border-radius: 5px;background: #CCC;padding: 1%;position: absolute;opacity: 0;
}