.container {width: auto;}
#footerlogo {position: absolute;top: 10px; bottom: 10px; right: 5px;width: 300px;text-align: right;}
#footerlogo img {max-height: 100%;}
#root {min-height: 0;}
footer {position: absolute;bottom:0px;width: 100%;}

/*toastr customisations*/
/*.toast-title{font-size: 5.0em;text-transform: uppercase;line-height: 1.5em;}
.toast-message{font-size: 3.0em;line-height: 1.5em;}
#toast-container > div {background-position: 15px 4.25em;opacity: 0.9}*/

/*Sponsor Kiosk Styles*/
#company_logo, #company_info, #bottom {position: absolute;top: 1%;bottom: 51%;}
#company_logo, #company_tap_msg {text-align: center;}
#company_logo { left: 1%; right: 61%;padding: 1%;}
#company_logo img {max-width: 98%; max-height: 98%;}
#company_info {left: 41%; right: 1%;}
#company_info .name {font-size: 50px; line-height: 60px;}
#company_info .tag {font-size: 25px; line-height: 30px;}
#bottom {left: 1%;top: 51%;bottom: 55px;right: 1%;}
#company_tap_msg {font-size: 35px; line-height: 40px;}
#sponsor_privacy {margin: 0px 10%;}
#sponsor_privacy h3 {color:#000; }

/*Sponsor Kiosk when company name is not specified*/
#company_logo.nocompany, #company_info.nocompany{left: 1%; right: 1%;}
#company_logo.nocompany.comptag{bottom: 61%;}
#company_info.nocompany.comptag{top: 41%;}
#company_info.nocompany.comptag .tag {text-align: center;}
#company_info.nocompany.comptag .name, #company_info.nocompany.nocomptag {display: none;}

/*Contact Exchange Kiosk Styles*/
#contact_exchange {position: absolute;width: 100%;top: 0px;bottom: 60px;background: url(/static/images/contact-exchange-bg.gif) 50% 15%; background-size: 115%;}
#contact_exchange .top {position: absolute; top: 0%; left: 1%;right: 1%; bottom: 0%; transition: all 1s; z-index: 3002;}
#contact_exchange .logo, #contact_exchange .message { position: absolute; left: 1%; right: 1%;transition: all 1s;}
#contact_exchange .logo { top: 1%; bottom: 41%;text-align: center;}
#contact_exchange .logo img {max-width: 98%;max-height: 98%;}
#contact_exchange .message { top: 61%; bottom: 1%; font-size: 4em;line-height: 1.25em;}
#contact_exchange .message * {transition: all 1s;}

#contact_exchange.users .top { top: 3%; bottom: 45%;}
#contact_exchange.users .logo {bottom: 1%; right: 37%}
#contact_exchange.users .message { top: 5%; left: 63%}

#contact_exchange .message .step {margin: 0px 0px 10px; clear: left;}
#contact_exchange .message .step .icon {
    padding: 0.2em; width: 1em; height: 1em; margin: 0px 10px; font-size: 1.25em; color: white;
    float: left; line-height: 1em; text-align: center; clear: left;border-radius: 1em; font-weight: bolder;
}
#contact_exchange .message .step.plus .icon {background: #393}
#contact_exchange .message .step.minus .icon {background: #C33}
#contact_exchange .message .step.plus .info {color: #393}
#contact_exchange .message .step.minus .info {color: #C33}

#contact_exchange.users .message .step {margin: 0 0 25px;}
#contact_exchange.users .message .step .info {font-size: 0.6em; line-height: 1.2em;text-align: right}
#contact_exchange.users .message .step .icon {float: right;}

/*Contact Exchange Kiosk: User cards styling starts*/
#contact_exchange .contex_users {transition: all 1s;position: absolute; top: 0%; bottom: -50%; z-index: 3001;}
#contact_exchange .user {
    box-sizing: border-box;border-radius: 1em;padding: 1%;position: absolute;opacity: 0;overflow: hidden; transition: padding 0.8s;
    background: -webkit-radial-gradient(10% 20%, farthest-side, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8), rgba(204, 204, 204, 0.7));
    border: 1px solid rgba(0,0,0, 0.5); -webkit-box-shadow: 0.5em 0.35em 1.65em rgba(128, 128, 128, 0.7);
}

#contact_exchange.users .contex_users {bottom: 0%;left: 5%;right: 5%;top: 57%}

#contact_exchange.users .user .name, #contact_exchange.users .user .twitter {line-height: 1.1em; transition: all 0.8s;}
#contact_exchange.users .user .name {font-weight: bold;white-space: nowrap;color: #666}
#contact_exchange.users .user .twitter {color: #999;}

#contact_exchange.users.rows3 .user, #contact_exchange.users.rows4 .user {padding: 1% 0.75%}
#contact_exchange.users.rows3 .user .name, #contact_exchange.users.rows3 .user .twitter,
#contact_exchange.users.rows4 .user .name, #contact_exchange.users.rows4 .user .twitter
{line-height: 1em}