html {overflow: hidden}
body{-webkit-user-select: none;moz-user-select: none;-ms-user-select: none;user-select: none;}
.container {width: auto;}
#footerlogo {position: absolute;top: 10px; bottom: 10px; right: 5px;width: 300px;text-align: right;}
#footerlogo img {max-height: 100%;}
#root {min-height: 0;}
footer {position: absolute;bottom:0px;width: 100%;}
footer .footer-inner {background: inherit}

/*toastr customisations*/
/*.toast-title{font-size: 5.0em;text-transform: uppercase;line-height: 1.5em;}
.toast-message{font-size: 3.0em;line-height: 1.5em;}
#toast-container > div {background-position: 15px 4.25em;opacity: 0.9}*/

/*Cooldown.js*/
/*Cooldown Overlay*/
#cooldown.overlay {position: absolute;top: 0; left: 0;width: 100%;height: 100%;
    background: -webkit-radial-gradient(10% 20%, farthest-corner, rgba(0, 0, 0, 0.8), rgba(15, 15, 15, 0.8), rgba(31, 31, 31, 0.7), rgba(63, 63, 63, 0.6));
    transition: opacity 1s; opacity: 0;
}
#cooldown.overlay .timer {width: 100%;height: 98%;margin: 1%;box-sizing: border-box;}
#cooldown.overlay .timer .elem {width: 50%; margin: 0 auto; height: 100%; color: #FFF;font-size: 3em;box-sizing: border-box;}

/*Sponsor Kiosk Styles*/
body.contact_point {background: url(../images/canvas.jpg)}
#contact_point{position: absolute;top: 1%; bottom: 60px; left: 1%; right: 1%;}
#contact_point #company{
    float: left;height: 100%;width: 78%;margin: 0 1%;text-align: center;padding: 1%;box-sizing: border-box;
    background: -webkit-radial-gradient(35% 35%, farthest-corner, rgba(255, 255, 255, 0.5), rgba(204, 204, 204, 0.55), rgba(204, 204, 204, 0.8), rgba(204, 204, 204, 0.9));
    border: 1px solid #666; border-radius: 10px;
}
#contact_point #company .logo{height: 85%;}
#contact_point #company .logo img{max-width: 99%;max-height: 99%;position: relative;}
#contact_point #company .info .name{font-size: 50px; line-height: 55px;margin: 0;color: #333}
#contact_point #company .info .tag{font-size: 35px; line-height: 40px;margin: 0; color: #999}
#contact_point #sponsor_privacy, #contact_point #company_tap_msg{margin-left: 80%}
#contact_point #company_tap_msg {text-align: center;color: #0A0}

/*Sponsor Kiosk when company name is not specified*/
#company_logo.nocompany, #company_info.nocompany{left: 1%; right: 1%;}
#company_logo.nocompany.comptag{bottom: 61%;}
#company_info.nocompany.comptag{top: 41%;}
#company_info.nocompany.comptag .tag {text-align: center;}
#company_info.nocompany.comptag .name, #company_info.nocompany.nocomptag {display: none;}

/*Contact Exchange Kiosk Styles*/
body.contact_exchange {background: url(/static/images/contact-exchange-bg.gif) 50% 15%; background-size: 115%;}
#contact_exchange {position: absolute;width: 100%;top: 0px;bottom: 60px;}
#contact_exchange .top {position: absolute; top: 0%; left: 1%;right: 1%; bottom: 0%; transition: all 1s;}
#contact_exchange .logo, #contact_exchange .message { position: absolute; left: 1%; right: 1%;transition: all 1s;}
#contact_exchange .logo { top: 1%; bottom: 41%;text-align: center; z-index: 3001}
#contact_exchange .logo img {max-width: 98%;max-height: 98%;}
#contact_exchange .message { top: 61%; bottom: 1%; font-size: 4em;line-height: 1.25em;z-index: 3003;}
#contact_exchange .message * {transition: all 1s;}

#contact_exchange.users .top { top: 3%; bottom: 45%;}
#contact_exchange.users .logo {bottom: 1%; right: 37%}
#contact_exchange.users .message { top: 5%; left: 63%}

#contact_exchange .message .step {margin: 0px 0px 10px; clear: left;}
#contact_exchange .message .step .icon {
    padding: 0.2em; width: 1em; height: 1em; margin: 0px 10px; font-size: 1.25em; color: white;
    float: left; line-height: 1em; text-align: center; clear: left;border-radius: 1em; font-weight: bolder;
}
#contact_exchange .message .step.plus .icon {background: #393}
#contact_exchange .message .step.minus .icon {background: #C33}
#contact_exchange .message .step.plus .info {color: #393}
#contact_exchange .message .step.minus .info {color: #C33}

#contact_exchange.users .message .step {margin: 0 0 25px;}
#contact_exchange.users .message .step .info {font-size: 0.6em; line-height: 1.2em;text-align: right}
#contact_exchange.users .message .step .icon {float: right;}

/*Contact Exchange Kiosk: Timer Styling*/
#cooldown.contact_exchange {z-index: 3002; color: #FFF;}
#cooldown.contact_exchange .timer {position: absolute; top: 1%;left: 1%; right: 41%; bottom: 61%;width: auto;height: auto}
#cooldown.contact_exchange .timer .elem {width: 35%;margin: 0;float: left}
#cooldown.contact_exchange .timer .message {margin-left: 37%; font-size: 1.5em; line-height: 1em; text-align: right; font-weight: bold;}
#cooldown.contact_exchange .timer .seconds {margin-left: 37%; margin-top: 7%;font-size: 9em; line-height: 1em; font-weight: bolder}
#cooldown.contact_exchange .instructions {position: absolute; top: 35%; bottom: 51%; left: 1%; right: 1%; text-align: center;font-size: 2.8em; line-height: 1.5em;}

/*Contact Exchange Kiosk: User cards styling starts*/
#contact_exchange .contex_users {transition: all 1s;position: absolute; top: 0%; bottom: -50%; z-index: 3004;}
#contact_exchange .user {
    box-sizing: border-box;border-radius: 1em;padding: 1%;position: absolute;opacity: 0;overflow: hidden; transition: padding 0.8s;
    background: -webkit-radial-gradient(10% 20%, farthest-side, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8), rgba(204, 204, 204, 0.7));
    border: 1px solid rgba(0,0,0, 0.5); -webkit-box-shadow: 0.5em 0.35em 1.65em rgba(128, 128, 128, 0.7);
}

#contact_exchange.users .contex_users {bottom: 0%;left: 5%;right: 5%;top: 57%}

#contact_exchange.users .user .name, #contact_exchange.users .user .twitter {line-height: 1.1em; transition: all 0.8s;}
#contact_exchange.users .user .name {font-weight: bold;white-space: nowrap;color: #666}
#contact_exchange.users .user .twitter {color: #999;}

#contact_exchange.users.rows3 .user, #contact_exchange.users.rows4 .user {padding: 1% 0.75%}
#contact_exchange.users.rows3 .user .name, #contact_exchange.users.rows3 .user .twitter,
#contact_exchange.users.rows4 .user .name, #contact_exchange.users.rows4 .user .twitter
{line-height: 1em}

#assign_badges {position: absolute;width: 100%;top: 0px;bottom: 60px;}
#assign_badges #badge_counters{width: 100%;height: 50%}
#assign_badges #badge_counters .counts{width: 30%; margin: 0 1.5%;text-align: center;display: inline-block;height: 100%;}
#assign_badges #badge_counters .counts h1 {height: 20%}
#assign_badges #badge_counters .counts .counter{font-size: 10em;color: #888;height: 80%;line-height: 1em}
#assign_badges #messaging {height: 48%; text-align: center; color: #333;padding: 5% 2%;border: 1px solid #CCC; background: #EEE;border-radius: 5px;margin: 1%;box-sizing: border-box;}
#assign_badges #messaging .message {font-size: 3.5em;line-height: 1em; display: none;}
#assign_badges #messaging.tap #tap_message {display: block;}
#assign_badges #messaging.none #none_message {display: block;}
#assign_badges #messaging.response #response {display: block;}
#assign_badges_selector {position: absolute;bottom: 55%;text-align: center; width: 100%; z-index: 1000}

body.activity_checkin {background: url(/static/images/canvas.jpg)}
#activity_checkin {position: absolute;width: 100%; top: 1.5%;bottom: 1.5%; text-align: center; color: #555}
#activity_checkin .top {position: absolute;top:0%;bottom: 60%; width: 100%; box-sizing: border-box;}
#activity_checkin .top .event_logo, #activity_checkin .top .welcome_logo {width: 100%}
#activity_checkin .top .welcome_logo {height: 70%;}
#activity_checkin .top .welcome_msg {height: 30%; line-height: 1.5em;font-size: 4em;}
#activity_checkin .top .event_logo {height: 25%;}
#activity_checkin .top.has_logo .welcome_logo {height: 45%;}
#activity_checkin .top .and { font-size: 3em;line-height: 100%; margin: 0 10px;}
#activity_checkin .top .event_logo img, #activity_checkin .top .welcome_logo img {max-height: 100%}
#activity_checkin .bottom {position: absolute; top: 45%; bottom: 0%; width: 90%;left: 5%;border: 1px solid #454545; background: rgba(255,255,255,0.6); border-radius: 20px; text-align: left;}
#activity_checkin .bottom .message {font-size: 7em;color: #666;line-height: 1.25em;}
#activity_checkin .bottom .checkin {width: 30%; text-align: center; float: left;height: 100%; box-sizing: border-box; padding: 1%}
#activity_checkin .bottom .checkin .venue {font-size: 1.5em;}
#activity_checkin .bottom .checkin .activity {font-size: 2.25em;}
#activity_checkin .bottom .checkin img {max-width: 100%; max-height: 70%;}
body.activity_checkin #messaging { position: absolute;width: 100%; height: 100%; background: rgba(0,0,0, 0.9); z-index: 4001; text-align: center; display: none}
body.activity_checkin #messaging .message {position: absolute; bottom: 51%; margin-left: 5%; width: 90%; color: #090; box-sizing: border-box; padding-bottom: 1%; border-bottom: 5px solid #DDD}
body.activity_checkin #messaging.has_image .message {padding-left: 26%; text-align: left}
body.activity_checkin #messaging .image {display: none;}
body.activity_checkin #messaging.has_image .image { position: absolute; left: 0px; top: 5%; bottom: 52%; width: 25%; display: inline; margin: 0% 2% 1% 5%; }
body.activity_checkin #messaging.has_image .image img {max-width: 100%; max-height: 100%; border: 3px solid white;}
body.activity_checkin #messaging .message p {font-size: 3.5em; line-height: 1.3em;}
body.activity_checkin #messaging .message p strong { font-weight: 500}
body.activity_checkin #messaging .message .activity { color: #white; font-size: 5.5em}
body.activity_checkin #messaging .message p:first-child {font-size: 5em;}
body.activity_checkin #messaging .message.error { color: #A00;}
body.activity_checkin #messaging .message.already { color: #EE0;}
body.activity_checkin #messaging .purchases {position: absolute; width: 100%; top: 50%; box-sizing: border-box; color: #AAA; font-size: 3.5em; line-height: 1.2em}
body.activity_checkin #messaging .purchases .purchase_list { font-size: 1.75em; color: #CCC; padding-top: 25px; line-height: 1.1em;}
